<section class="best-selling card-bg py-20">
    <div class="container">
        <div class="caption">
            <h2 class="head">Best selling Products</h2>
            <p class=" text-gray-800">Best Selling Products</p>

            <div class="inline-flex shadow-xs my-3 p-1 rounded-full bg-[#A2AF9B]" role="group">
                <button (click)="allbtn()" type="button" [class]="{'active-btn': activeCategory() === 'all'}"
                    class="goup-btn dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    All
                </button>
                @for (cat of categoriesList().slice(0, 3); track $index) {
                <button (click)="selectCategory(cat)" type="button"
                    [class]="{'active-btn': activeCategory() === cat.name}"
                    class="goup-btn dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    {{cat.name}}
                </button>
                }
            </div>

        </div>

        <div class="cards" [class]="
        activeCategory() === 'all'
          ? 'grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-3 gap-y-20'
          : 'flex justify-start'">
            @for (category of categoriesList().slice(0,8); track category._id) {
                <app-card [category]="category" [categoryName]="categoryName()" [activeCategory]="activeCategory()"></app-card>
            }
        </div>
    </div>
</section>