<section class="new-collection">
    <div class="container">
        <div class="caption">
            <h2 class="head">New Collection</h2>
            <p class=" text-gray-800">Check the new collection</p>
        </div>


        <div class="body h-[300px]  md:h-[450px] grid grid-cols-2 gap-3 lg:gap-4">
            <div class="overflow-hidden relative rounded-2xl">
                <img class="w-full h-full object-cover" src="/images/5ec9790369f74913854c9d8702e1f90b8ee9e622.jpg"
                    alt="Wirelessheadphones">
                <div class="layer">
                    <p
                        class="layer-text">
                        Electronicts
                        <br>
                        <span class="font-light text-[15px] md:text-xl font-semibold">UP TO 50%OFF</span>
                    </p>
                </div>
            </div>
            <div class="grid grid-rows-2 gap-3 lg:gap-4 overflow-hidden">
                <div class="h-full relative">
                    <img class="w-full h-full rounded-2xl" src="/images/photograph-clothes-without-mannequin-3.avif"
                        alt="Women'sfashion">
                    <div class="layer">
                        <p
                            class="layer-text">
                            Women's Fashion
                            <br>
                            <span class="font-light text-[15px] md:text-xl font-semibold">UP TO 50%OFF</span>
                        </p>
                    </div>
                </div>
                <div class="h-full relative">
                    <img class="w-full h-full rounded-2xl"
                        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="digitalwatch">

                    <div class="layer">
                        <p
                            class="layer-text">
                            Watches
                            <br>
                            <span class="font-light text-[15px] md:text-xl font-semibold">UP TO 50%OFF</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>