<!-- Top products section(products)    (This is my code)  -->
<!-- @if(product){
<div class="card text-center">

    <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="product.imageCover" [alt]="product.title">
    <h3 class="text-lg">{{product.title.split(' ', 2).join(' ')}}</h3>
    <h4 class="text-sm">{{product.category.name}}</h4>
    <p class="text-[#415E72]">{{product.price}} EGP</p>
    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <span
            class="bg-[#415E72] text-white w-[25px] h-[25px] rounded-full disabled:bg-[#C5B0CD] disabled:cursor-not-allowed"><i
                class="fa-solid fa-plus translate-y-[4.5px]"></i></span>
        <span class="translate-y-[8px]"><i class="fa-solid fa-star text-yellow-400"></i>
            {{product.ratingsAverage}}
        </span>
    </div>
</div>
} -->

<!-- Best selling section(category) -->
<!-- 
@if(categoryName === ' '){
@if(category){
<div class="card text-center">
    <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="category.image" [alt]="category.name">
    <h3 class="text-lg">{{category.name}}</h3>
    <p class="text-[#415E72]">{{category.price}} EGP</p>

    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <span
            class="bg-[#415E72] text-white w-[25px] h-[25px] rounded-full disabled:bg-[#C5B0CD] disabled:cursor-not-allowed"><i
                class="fa-solid fa-plus translate-y-[4.5px]"></i></span>
    </div>
</div>

}
}


@else if(categoryName === "Music"){
@if(category && category?.name === 'Music'){
<div class="card text-center">
    <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="category.image" [alt]="category.name">
    <h3 class="text-lg">{{category.name}}</h3>
    <p class="text-[#415E72]">{{category.price}} EGP</p>

    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <span
            class="bg-[#415E72] text-white w-[25px] h-[25px] rounded-full disabled:bg-[#C5B0CD] disabled:cursor-not-allowed"><i
                class="fa-solid fa-plus translate-y-[4.5px]"></i></span>
    </div>
</div>

}
}@else if (categoryName === "Men's Fashion") {
@if(category && category?.name === "Men's Fashion"){
<div class="card text-center">
    <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="category.image" [alt]="category.name">
    <h3 class="text-lg">{{category.name}}</h3>
    <p class="text-[#415E72]">{{category.price}} EGP</p>

    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <span
            class="bg-[#415E72] text-white w-[25px] h-[25px] rounded-full disabled:bg-[#C5B0CD] disabled:cursor-not-allowed"><i
                class="fa-solid fa-plus translate-y-[4.5px]"></i></span>
    </div>
</div>

}
}@else if (categoryName === "Women's Fashion") {
@if(category && category?.name === "Women's Fashion"){
<div class="card text-center">
    <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="category.image" [alt]="category.name">
    <h3 class="text-lg">{{category.name}}</h3>
    <p class="text-[#415E72]">{{category.price}} EGP</p>
    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <span
            class="bg-[#415E72] text-white w-[25px] h-[25px] rounded-full disabled:bg-[#C5B0CD] disabled:cursor-not-allowed"><i
                class="fa-solid fa-plus translate-y-[4.5px]"></i></span>
    </div>
</div>


}
} -->


<!-- Product Card   (This code after cleaning) -->
@if (product(); as p) {
<div class="card text-center h-full relative">

    <!-- wishlist icon -->
    <div (click)="toggleWishlist(); getProductWishListData(p._id)"
        class="absolute top-2 right-2 bg-white w-7 h-7 rounded-full flex items-center justify-center shadow cursor-pointer">
        <i [class]="isWishlisted() ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" class="text-red-700 text-xl"></i>
    </div>

    <div [routerLink]="['/details',p.slug ,p.id]">
        <img class="w-3/4 mx-auto -translate-y-1/5 h-[220px] w-[67%]" [src]="p.imageCover" [alt]="p.title" />

        <h3 class="text-lg unicode-bidi plaintext rtl:">
            {{ translateDynamicTitle(p.title) | term:2 }}
        </h3>

        <h4 class="text-sm">{{ p.category.name}}</h4>

        @if (!showOrderData()) {
        <p class="text-[#A2AF9B]">{{ p.price | currency: 'EGP'}} </p>
        }

        @if (showOrderData()) {
        <p class="text-[#A2AF9B]">{{ price() | currency: 'EGP'}} </p>
        }
    </div>

    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <button class="bottom-style" (click)="getProductCartData(p._id)">
            <i class="fa-solid fa-plus"></i>
        </button>

        <span class="flex items-center gap-1">
            <i class="fa-solid fa-star text-yellow-400"></i>
            {{ p.ratingsAverage }}
        </span>
    </div>

</div>
}

<!-- Category Card -->
@if (category(); as c) {
@if((categoryName() === '' || categoryName() === c.name)){
@if (activeCategory() !== 'all') {
    
<div class="heading mb-15 text-2xl font-bold text-[#324251]">
    <P>{{ c.name}}
        <span></span>
    </P>
</div>
}

<div class="card text-center mt-4 relative" [class.w-[275px]]="activeCategory() !== 'all'">
    <!-- wishlist icon -->
   <!-- <div (click)="toggleWishlist()"
        class="absolute top-2 right-2 bg-white w-7 h-7 rounded-full flex items-center justify-center shadow cursor-pointer">
        <i [class]="isWishlisted() ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" class="text-red-700 text-xl"></i>
    </div> -->
    <img class="w-3/4 mx-auto translate-y-[-18%] h-[220px] w-[67%]" [src]="c.image" [alt]="c.name" />
    <h3 class="text-lg">{{ c.name }}</h3>
    <p class="text-[#A2AF9B]">{{ c.price | currency: 'EGP' }}</p>

    <div class="text-[12px] text-[#415E72] mt-3 flex justify-between">
        <button class="bottom-style">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>
}

}