<section class="cart bg-[#EEEEEE]">
    <div class="container grid sm:grid-cols-12 gap-3">

        <div class="col-span-12 md:col-span-8">
            <div class="cart-caption flex items-center space-x-4">
                <h2 class="head text-gray-700 text-[20px] lg:text-2xl">{{'cart.title' | translate}}</h2>
                <span class="font-[500] text-[16px] text-[#A2AF9B]">{{cartDetails().products.length}}{{'cart.items' | translate}}</span>
            </div>
            @for (item of cartDetails().products; track item._id) {
            <div class="grid grid-cols-12 gap-7 bg-white mb-3">
                <div class="col-span-2 flex flex-col justify-center">
                    <div class="cart-img w-full">
                        <img [src]="item.product.imageCover" class="w-full h-full rounded-[8px]" [alt]="item.product.title">
                    </div>
                </div>
                <div class="col-span-10">
                    <div class="cart-info h-full flex justify-between items-center py-5">
                        <div class="cart-details">
                            <p class="mb-3 text-gray-800 text-[16px] lg:text-xl">{{item.product.title}}</p>
                            <div class="flex items-center space-x-5">
                                <div
                                    class="cart-btn flex items-center justify-between  w-[159px] h-[52px] p-4 bg-[#EEEEEE] border rounded-[4px] border-[#D1D1D8]">
                                    <button (click)="updateCartProduct(item.product._id, item.count - 1)"><i class="fas fa-minus text-[9px] lg:text-[12px] cursor-pointer"></i></button>
                                    <span class="text-[14px] lg:text-[17px]">{{item.count}}</span>
                                    <button (click)="updateCartProduct(item.product._id, item.count + 1)"><i class="fas fa-plus text-[9px] lg:text-[12px] cursor-pointer"></i></button>
                                </div>

                                <button (click)="removeItem(item.product._id)"><i class="fas fa-trash-can text-[#A2AF9B] cursor-pointer"></i></button>
                            </div>

                        </div>
                        <span class="text-[16px] font-[600] text-gray-800 me-2">{{item.price * item.count | currency: 'EGP'}}</span>
                    </div>
                </div>
            </div>
            <hr class="text-[#D1D1D8] mb-4">
            }@empty {
            <div class="wishlist-empty text-center flex flex-col items-center">
                <div class="wishlist-empty-img w-[60%] my-6">
                    <img class="rounded-2xl" src="/E-commerce/images/cart.png" alt="Broken heart">
                </div>
                <button routerLink="/home" class="bg-[#A2AF9B] rounded-xl text-white px-5 py-3 cursor-pointer">
                    Start shopping
                </button>
            </div>

            }


        </div>

        <div class="col-span-12 md:col-span-4">
            <div class="price-info border border-1 border-solid border-[#D1D1D8] bg-white p-[15px] lg:p-[32px] rounded-[10px]">
                <div class="order-summary mb-6 border-b-1 border-solid border-[#D1D1D8]">
                    <h3 class="text-[20px] lg:text-[24px] mb-5 text-gray-600 font-[500]">{{'cart.orderSummary' | translate}}</h3>
                    <div class="flex items-center justify-between mb-3 text-gray-800">
                        <p class="text-[14px] lg:text-[17px]">{{'cart.price' | translate}}</p>
                        <span class="text-[14px] lg:text-[17px]">{{cartDetails().totalCartPrice | currency:'EGP':'symbol':'1.0-0': (currentLang() ? 'ar-EG' : 'en-US')}}</span>
                    </div>
                    <div class="flex items-center justify-between mb-3 text-gray-800">
                        <p class="text-[14px] lg:text-[17px]">{{'cart.discount' | translate}}</p>
                        
                        <span class="text-[14px] lg:text-[17px]" [attr.dir]="currentLang() ? 'rtl' : 'ltr'">{{ price | currency:'EGP':'symbol':'1.0-0': (currentLang() ? 'ar-EG' : 'en-US') }}</span>
                    </div>
                    <div class="flex items-center justify-between mb-3 text-gray-800">
                        <p class="text-[14px] lg:text-[17px]">{{'cart.shipping' | translate}}</p>
                        <span class="text-[14px] lg:text-[17px]">{{'cart.free' | translate}}</span>
                    </div>
                    <div class="flex items-center justify-between mb-3 text-gray-800">
                        <p class="text-[14px] lg:text-[17px]">{{'cart.couponApplied' | translate}}</p>
                        <span class="text-[14px] lg:text-[17px]" [attr.dir]="currentLang() ? 'rtl' : 'ltr'">{{ price | currency:'EGP':'symbol':'1.0-0': (currentLang() ? 'ar-EG' : 'en-US') }}</span>
                    </div>
                </div>
                <div class="total">
                    <div class="flex items-center justify-between mb-5 text-gray-800">
                        <p class="font-[600] text-[14px] lg:text-[17px]">{{'cart.total' | translate}}</p>
                        <span class="font-[600] text-[14px] lg:text-[17px]">{{cartDetails().totalCartPrice - 200 | currency:'EGP':'symbol':'1.0-0': (currentLang() ? 'ar-EG' : 'en-US') }}</span>
                    </div>
                    <div class="flex items-center justify-between mb-4 text-gray-800">
                        <p class="font-[500] text-[14px] lg:text-[17px]">{{'cart.estimatedDeliveryBy' | translate}}</p>
                        <span class="font-[600] text-[14px] lg:text-[17px]">{{'cart.apply' | translate}}</span>
                    </div>
                    <div class="relative h-[56px] mb-4">
                        <input
                            class="border-[#D1D1D8] text-[13px] lg:text-[17px] rounded-[10px] w-full h-full focus:outline-none focus:ring-2 focus:ring-[#DCCFC0]"
                            type="text" placeholder="{{'cart.CouponCode' | translate}}">
                        <button
                            class="bg-[#A2AF9B] text-[14px] lg:text-[17px] rounded-[8px] p-[12px] absolute ltr:right-[8px] rtl:left-[8px] top-1/2 -translate-y-1/2  h-[40px] font-[600] cursor-pointer flex items-center text-white">{{'cart.apply' | translate}}</button>
                    </div>
                    <button [routerLink]="['/check-out', cartDetails()._id]"
                        class="bg-[#A2AF9B] text-[14px] lg:text-[17px] p-[8px] rounded-[32px] text-white font-[600] h-[58px] w-full cursor-pointer">{{'cart.proceedToCheckout' | translate}}</button>
                </div>
            </div>

        </div>

    </div>
</section>
