<!-- <section class="md:w-1/2 mx-auto">
    <div class="container">
        @if (step === 1) {
        <form [formGroup]="verifyEmail">
            <app-input [control]="verifyEmail.get('email')" [typeInput]="'email'" [labelInput]="'Email'"
                [idInput]="'email'"></app-input>

            <button (click)="step = 2" class="bg-[#A2AF9B] w-100">verify Email</button>
        </form>
        }

        @else if (step === 2) {
        <form [formGroup]="verifyCode">
            <app-input [control]="verifyCode.get('resetCode')" [typeInput]="'text'" [labelInput]="'resetcode'"
                [idInput]="'resetcode'"></app-input>

            <button (click)="step = 3" class="bg-[#A2AF9B] w-100">verify Code</button>

        </form>
        }

        @else if (step === 3) {
        <form [formGroup]="resetPassword">
            <app-input [control]="resetPassword.get('email')" [typeInput]="'email'" [labelInput]="'Email'"
                [idInput]="'email'"></app-input>
            <app-input [control]="resetPassword.get('newPassword')" [labelInput]="'newPassword'"
                [idInput]="'newPassword'"></app-input>
            <button class="bg-[#A2AF9B] w-100">Reset password</button>

        </form>
        }


    </div>
</section> -->

<section class="loginPage scale-80 md:scale-85">
    <div class="container  grid grid-cols-12">

        <div class="login-form flex flex-col justify-center col-span-12 md:col-span-6 py-20 px-17 bg-[#EEEEEE]">



            @if (step() === 1) {
            <div class="login-caption mb-5">
                <h2 class="text-gray-800 text-[22px] font-bold">Reset Your Password</h2>
                <p class="text-[#aaa095] text-[14px]">Enter Your Email and we'll send you a link to reset your password.
                    please check it.</p>
            </div>
            <form class="mb-4" [formGroup]="verifyEmail()" (ngSubmit)="formStep1()">
                <!-- Reusable component(input) -->
                <app-input [control]="verifyEmail().get('email')" [typeInput]="'email'" [labelInput]="'E-mail'"
                    [idInput]="'email'" [placeholder]="'Ahmed@gmail.com'"></app-input>

                <button
                    class="text-white w-full bg-[#DCCFC0] box-border cursor-pointer rounded-xl border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-[17px] px-4 py-2.5 focus:outline-none">
                    Send
                    <!-- @if(isLoading){
                    <span><i class="fas fa-spinner animate-spin"></i></span>
                    } -->

                </button>
            </form>
            <div class="text-center text-[15px] text-gray-400">Back to <a routerLink="/login"
                    class="text-[#A2AF9B] underline cursor-pointer">Login</a></div>
            }

            @else if (step() === 2) {
            <div class="login-caption mb-5">
                <h2 class="text-gray-800 text-[22px] font-bold">Check Email</h2>
                <p class="text-[#aaa095] text-[14px]">Please check your email inbox and click on the provided to reset
                    your password.if you don't receive email.
                </p>
                <button class="cursor-pointer" (click)="formStep2()">
                    <a class="text-[#A2AF9B] underline">Click here to recend</a>
                </button>
            </div>
            <div class="text-[15px] text-gray-400">Back to <a routerLink="/login"
                    class="text-[#A2AF9B] underline cursor-pointer">Login</a></div>
            }
            @else if (step() === 3) {
            <div class="login-caption mb-5">
                <h2 class="text-gray-800 text-[22px] font-bold">Verification</h2>
                <p class="text-[#aaa095] text-[14px]">Verify your code.
                    please check it.</p>
            </div>

            <form class="mb-4" [formGroup]="verifyCode()" (ngSubmit)="formStep3()">
                <!-- Reusable component(input) -->
                <app-input [control]="verifyCode().get('resetCode')" [typeInput]="'text'"
                    [labelInput]="'Verification Code'" [idInput]="'verificationCode'"
                    [placeholder]="'0758'"></app-input>

                <button
                    class="text-white w-full bg-[#DCCFC0] box-border cursor-pointer rounded-xl border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-[17px] px-4 py-2.5 focus:outline-none">
                    Verify Code
                    <!-- @if(isLoading){
                    <span><i class="fas fa-spinner animate-spin"></i></span>
                    } -->

                </button>
            </form>
            }
            @else if (step() === 4) {

            <div class="login-caption mb-5">
                <h2 class="text-gray-800 text-[22px] font-bold">Create a new password</h2>
                <p class="text-[#aaa095] text-[14px]">Your new password must be different from previous used passwords.
                    please check it.</p>
            </div>
            <form class="mb-4" [formGroup]="verifyCode()" (ngSubmit)="formStep4()">
                <!-- Reusable component(input) -->
                 <app-input [control]="resetPassword().get('newPassword')" [labelInput]="'newPassword'"
                    [idInput]="'password'" [placeholder]="'xxxxxxxxxxxx'"></app-input>
                <app-input  [control]="resetPassword().get('email')" [typeInput]="'email'" [labelInput]="'Email'"
                    [idInput]="'email'" [placeholder]="'Ahmed@gmail.com'" [readonly]="true"></app-input>
                
                <button 
                    class="text-white w-full bg-[#DCCFC0] box-border cursor-pointer rounded-xl border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-[17px] px-4 py-2.5 focus:outline-none">
                    Reset password
                </button>
            </form>
            }
        </div>

        <!-- <div class="img-layer"> -->
        <div class="img-container col-span-6 relative hidden md:block">
            <img class="h-full w-full"
                src="/images/pattern-knit-crochet-kids-sweater-autumn-winter-katia-8030-426-g.jpg" alt="">

            <div class="layer text-center flex flex-col items-center justify-end">
                <div class="layer-content translate-y-[-80px] text-white">
                    <p class="text-xl font-bold">Welcome to Shppvia</p>
                    <p class="text-[12.5px]">Discover products you love,<br>at price you deserve...</p>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</section>