<!-- <section class="main-slider bg-amber-600 h-100">
    <div class="swiper mySwiper bg-blue-700">
        <div class="swiper-wrapper bg-fuchsia-600">
            <div class="swiper-slide bg-green-900">
                <img src="/images/ecommerce-product-photo.jpg" alt="somekindofshoes">
            </div>
           <div class="swiper-slide bg-green-500">
                <img src="/images/1597930452_ahal.jpg" alt="somekindofshoes">
            </div>
            <div class="swiper-slide bg-green-300">
                <img src="/images/l-intro-1681220544.jpg" alt="somekindofshoes">
            </div>
            <div class="swiper-slide bg-green-300">
                <img src="/images/l-intro-1678394165.jpg" alt="somekindofshoes">
            </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>

    </div>
</section> -->


<section class="main-slider">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-base md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out w-full h-full" data-carousel-item>
                <img class="w-full h-full" src="/images/ecommerce-product-photo.jpg" alt="somekindofshoes">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out w-full h-full" data-carousel-item>
                <img class="w-full h-full" src="/images/1597930452_ahal.jpg" alt="somekindofshoes">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out w-full h-full" data-carousel-item>
                <img class="w-full h-full" src="/images/l-intro-1681220544.jpg" alt="somekindofshoes">
            </div>
            <!-- Item 4 -->
            <div class="hidden duration-700 ease-in-out w-full h-full" data-carousel-item>
                <img class="w-full h-full" src="/images/l-intro-1678394165.jpg" alt="somekindofshoes">
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-[10px] h-[10px] bg-white hover:bg-black transition rounded-full" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-[10px] h-[10px] bg-white hover:bg-black transition  rounded-full" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-[10px] h-[10px] bg-white hover:bg-black transition rounded-full" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <button type="button" class="w-[10px] h-[10px] bg-white hover:bg-black transition rounded-full" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
            </div>
            <!-- Slider controls -->
            <button type="button"
                class="absolute top-0 start-3 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center border-black border-1 border-solid w-[33px] h-[33px] rounded-full dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60  dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-[19px] h-[19px] font-light text-black rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="m15 19-7-7 7-7" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="absolute top-0 end-3 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center border-black border-1 border-solid w-[33px] h-[33px] rounded-full dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60  dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-[19px] h-[19px] text-black rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                            d="m9 5 7 7-7 7" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>    
</section>