section {
  padding: 0;
}

.main-slider {
  height: 45%;
}

.swiper {
  width: 100% !important;
  height: 100vh !important;
}

.button-style{
  @apply bg-[#FFF] border-[#A2AF9B] border-1 border-solid w-[33px] h-[33px] rounded-full hover:border-[#DCCFC0];
}

[data-carousel-slide-to] {
    background-color: #DCCFC0 !important;
    transition: background-color .15s ease, transform .12s ease;
}
 [data-carousel-slide-to][aria-current="true"] {
    background-color: #A2AF9B !important;
  }
