<!-- <section class="main-slider">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/77be52c5c89a9831354a67686bfb4deb.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/images/77be52c5c89a9831354a67686bfb4deb.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/images/77be52c5c89a9831354a67686bfb4deb.jpg" alt="">
            </div>
        </div>

        Navigation buttons
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        Pagination
        <div class="swiper-pagination"></div>
    </div>

</section> -->