<!-- <section class="sub-slider py-40 bg-amber-600">

    <div id="controls-carousel" class="relative w-full" data-carousel="static">
        <div class="relative flex flex-col justify-center h-56 overflow-hidden rounded-lg md:h-96">
            <div class="absolute left-15 right-15 bg-blue-300 duration-700 ease-in-out flex justify-around" data-carousel-item>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/OIP.jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Beauty&Health</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/OIP (2).jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center hidden lg:block">
                        <img src="/E-commerce/images/OIP (1).jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center hidden md:block">
                        <img src="/E-commerce/images/il_1080xN.5586893215_d0uh.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/ea079f29-2aa0-4ef8-a860-eb6917155ea5_800x800.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/77be52c5c89a9831354a67686bfb4deb.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/58632c2a-4774-431b-8e7d-4986961fa72d.76890d1730c4c3e4fdf4eda99e97fd66.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/6422ebf6c5369781d05a02afe7277b57.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/31d23744-3a9f-4bc6-88cd-bda390bab17e.9b9212a7dd5d6be8175ff3645610dce4.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Mobiles</p>
                </div>
            </div>
            <div class="absolute left-15 right-15 bg-blue-300 duration-700 ease-in-out flex justify-around" data-carousel-item>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/OIP.jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Beauty&Health</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/OIP (2).jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center hidden lg:block">
                        <img src="/E-commerce/images/OIP (1).jpeg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center hidden md:block">
                        <img src="/E-commerce/images/il_1080xN.5586893215_d0uh.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/ea079f29-2aa0-4ef8-a860-eb6917155ea5_800x800.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/77be52c5c89a9831354a67686bfb4deb.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/58632c2a-4774-431b-8e7d-4986961fa72d.76890d1730c4c3e4fdf4eda99e97fd66.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Women'sFashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/6422ebf6c5369781d05a02afe7277b57.jpg"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Men's Fashion</p>
                </div>
                <div class="slider-img w-1/15 h-fit text-center">
                        <img src="/E-commerce/images/31d23744-3a9f-4bc6-88cd-bda390bab17e.9b9212a7dd5d6be8175ff3645610dce4.webp"
                    class="w-full rounded-full" alt="...">
                    <p class="text-xs mt-2 font-semibold">Mobiles</p>
                </div>
            </div>
        </div>
        <button type="button"
            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button"
            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next>
            <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>
</section> -->
<section class="subSlider px-7">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper w-60">

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/58632c2a-4774-431b-8e7d-4986961fa72d.76890d1730c4c3e4fdf4eda99e97fd66.webp" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.womenFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/OIP (2).jpeg" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.menFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/il_1080xN.5586893215_d0uh.jpg" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.menFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/ea079f29-2aa0-4ef8-a860-eb6917155ea5_800x800.webp" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.womenFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/OIP (1).jpeg" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.menFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/77be52c5c89a9831354a67686bfb4deb.jpg" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.womenFashion' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/31d23744-3a9f-4bc6-88cd-bda390bab17e.9b9212a7dd5d6be8175ff3645610dce4.webp" />
        <p class="font-semibold text-[12px] mt-2">
          {{ 'slider.mobiles' | translate }}
        </p>
      </div>

      <div class="swiper-slide flex-col">
        <img src="/E-commerce/images/OIP (4).jpeg" />
        <p class="font-semibold text-[12px] mt-1">
          {{ 'slider.watches' | translate }}
        </p>
      </div>

    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
