<section class="checkOut md:w-1/2 mx-auto shadow my-20">
    <div class="container">
        <h1 class="text-[40px] font-[600] text-gray-700">CheckOut</h1>

        <form [formGroup]="checkOutForm">
            <app-input [element]="'text'" [control]="this.checkOutForm.get('shippingAddress')?.get('details')" [idInput]="'details'" [labelInput]="'Details'"></app-input>
            <app-input [element]="'input'" [typeInput]="'tel'" [control]="this.checkOutForm.get('shippingAddress')?.get('phone')" [idInput]="'phone'" [labelInput]="'Phone'">
                accept only Egypt phone numbers
            </app-input>
            <app-input [element]="'input'" [typeInput]="'text'" [control]="this.checkOutForm.get('shippingAddress')?.get('city')" [idInput]="'city'" [labelInput]="'City'"></app-input>


            <div class="buttons flex items-center justify-center space-x-10">
                <button type="button" (click)="paymentMethod = 'visa';submitForm()" class="bg-[#A2AF9B] px-9 xl:px-15 py-2 cursor-pointer text-[#DCCFC0] text-[13px] xl:text-[16px] ">Payment By Visa</button>
                <button routerLink="/allorders" type="button" (click)="paymentMethod = 'cash';submitForm()" class="bg-[#A2AF9B] px-9 xl:px-15 py-2 cursor-pointer text-[#DCCFC0] text-[13px] xl:text-[16px]">Payment By Cash</button>
            </div>
        </form>
    </div>
</section>
