<div class="mb-4">
    <label [for]="idInput" [class]="{
                        'text-green-900': control?.valid,
                        'text-red-900': control?.invalid && control?.touched
                    }" class="block mb-2.5 text-heading text-gray-800 text-[13px] font-bold">
        {{labelInput}}</label>
    <div class="relative">
        @if (element === 'input') {
        <input [class]="{
                        'border-green-900': control?.valid,
                        'border-red-900': control?.invalid && control?.touched
                    }" [formControl]="control" [type]="typeInput || (flag? 'Password': 'text')" [id]="idInput"
            [placeholder]="placeholder" [readonly]="readonly"
            class="register-input focus:!ring-2 focus:!ring-[#DCCFC0]  bg-neutral-secondary-medium text-heading text-sm rounded-[5px] w-full px-3 py-2.5 placeholder:text-body outline-none"
            required />
        }@else if (element === 'textarea') {
        <textarea [class]="{
                        'border-green-900': control?.valid,
                        'border-red-900': control?.invalid && control?.touched
                    }" [formControl]="control" [id]="idInput" [placeholder]="placeholder"
            class="register-input focus:!ring-2 focus:!ring-[#DCCFC0]  bg-neutral-secondary-medium text-heading text-sm rounded-[5px] w-full h-35 px-3 py-2.5 placeholder:text-body outline-none"
            required></textarea>
        }
        @else if (element === 'select') {
        <select [formControl]="control" [class]="{
      'border-green-900': control?.valid,
      'border-red-900': control?.invalid && control?.touched
    }" class="register-input focus:!ring-2 focus:!ring-[#DCCFC0] 
           bg-neutral-secondary-medium text-heading text-sm 
           rounded-[5px] w-full px-3 py-2.5 
           outline-none border">

            <option value="" disabled selected>
                {{ 'input.select.placeholder' | translate }}
            </option>

            <option value="support">
                {{ 'input.select.options.support' | translate }}
            </option>

            <option value="sales">
                {{ 'input.select.options.sales' | translate }}
            </option>

            <option value="general">
                {{ 'input.select.options.general' | translate }}
            </option>

        </select>
        }
    </div>

    @if (control?.errors && control?.touched) {
<div class="flex p-4 mb-4 text-sm text-[#8B0836] bg-[#FFF1F2] rounded-lg border border-[#FFCDD3]" role="alert">
  <div>
    <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">

      @if (control?.hasError('required')) {
      <li>{{ 'input.errors.required' | translate }}</li>
      }

      @if (control?.hasError('minlength')) {
      <li>{{ 'input.errors.minlength' | translate }}</li>
      }

      @if (control?.hasError('maxlength')) {
      <li>{{ 'input.errors.maxlength' | translate }}</li>
      }

      @if (control?.hasError('email')) {
      <li>{{ 'input.errors.email' | translate }}</li>
      }

      @if (control?.hasError('pattern')) {
      <li>{{ 'input.errors.pattern' | translate }}</li>
      }

      @if (control?.hasError('mismatch')) {
      <li>{{ 'input.errors.mismatch' | translate }}</li>
      }

     </ul>
  </div>
</div>
    }


</div>