<section aria-labelledby="features-title" class="py-16" id="feature">
  <div class="max-w-6xl mx-auto px-4">

    <h2
      id="features-title"
      class="text-3xl font-bold text-center mb-12 text-[#A2AF9B]"
    >
      {{ 'landingpage.features.title' | translate }}
    </h2>

    <div class="grid gap-6 md:grid-cols-3">

      <article
        class="p-6 border cursor-pointer border-[#DCCFC0] rounded-xl shadow-sm hover:shadow-md transition"
      >
        <h3 class="font-semibold text-xl mb-2 text-[#A2AF9B]">
          {{ 'landingpage.features.fast_delivery.title' | translate }}
        </h3>
        <p class="text-gray-600">
          {{ 'landingpage.features.fast_delivery.description' | translate }}
        </p>
      </article>

      <article
        class="p-6 border cursor-pointer border-[#DCCFC0] rounded-xl shadow-sm hover:shadow-md transition"
      >
        <h3 class="font-semibold text-xl mb-2 text-[#A2AF9B]">
          {{ 'landingpage.features.secure_payment.title' | translate }}
        </h3>
        <p class="text-gray-600">
          {{ 'landingpage.features.secure_payment.description' | translate }}
        </p>
      </article>

      <article
        class="p-6 border cursor-pointer border-[#DCCFC0] rounded-xl shadow-sm hover:shadow-md transition"
      >
        <h3 class="font-semibold text-xl mb-2 text-[#A2AF9B]">
          {{ 'landingpage.features.quality_products.title' | translate }}
        </h3>
        <p class="text-gray-600">
          {{ 'landingpage.features.quality_products.description' | translate }}
        </p>
      </article>

    </div>
  </div>
</section>
