<app-nav-bar [isLogin]="true" [landing]="false" [landingpage]="false"></app-nav-bar>

<section>
    <div class="container flex items-center justify-center">
        <div class="not-found w-[60%] flex flex-col items-center justify-center">
            <figure class="mb-2">
                <img src="/images/Notfound.png" alt="not-found page">
            </figure>

            <button routerLink="/home" class="bg-[#A2AF9B] rounded-xl text-white px-5 py-3 cursor-pointer">  
                    Back to Home Page
            </button>
        </div>
    </div>
</section>
