<section class="product-details">
    <div class="container">
        <div class="details-box grid grid-cols-12 gap-4">
            <div class="select-image col-span-1">
                @for (img of productDetails.images; track $index) {
                <img class="img-style w-[85%] mb-[8px] h-[90px] cursor-pointer translate-x-[13px]" [src]="img"
                    [alt]="productDetails.title">
                }
            </div>
            <div class="details-slider col-span-5 relative">
                <!-- Custom Navigation -->
                <button class="custom-nav prev-btn" aria-label="Previous">‹</button>
                <button class="custom-nav next-btn" aria-label="Next">›</button>

                <swiper-container class="mySwiper relative" navigation='{"prevEl": ".prev-btn", "nextEl": ".next-btn"}'
                    loop="true">
                    @for (img of productDetails.images; track $index) {
                    <swiper-slide><img class="w-full rounded-xl " [src]="img"
                            [alt]="productDetails.title"></swiper-slide>
                    }

                    <div
                        class="fav-product absolute top-[15px] right-[35px] text-[17px] w-[35px] h-[35px] border border-2 border-solid border-[#A2AF9B] flex justify-center rounded-full cursor-pointer">
                        <i class="fa-regular fa-heart translate-y-[23%] text-[#A2AF9B]"></i>
                    </div>
                </swiper-container>
            </div>

            <div class="details-info col-span-5">
                <span class="text-[13px] text-gray-800">
                    <i class="fa-solid fa-star text-yellow-400 text-[10px]"></i>
                    {{productDetails.ratingsAverage}}
                </span>
                <p class="my-[14px] text-gray-800 text-[23px] font-bold">{{productDetails.title}}</p>
                <p class="text-sm text-[#aaa095] mb-[14px]">{{productDetails.description}}</p>
                <div class="QuantityPrice mt-20">
                    <p class="text-[13px] mb-2 text-gray-800 font-bold">Quantity: <span class="text-[#A2AF9B]">01</span>
                    </p>
                    <div class="details-btns flex items-center mb-[30px]">
                        <!-- <button
                            class="me-2 cursor-pointer w-1/4 text-xl text-[#aaa095] border border-1 border-solid border-[#A2AF9B] px-[14px] py-[2px] rounded-[9px]">
                            -<span class="text-gray-800 text-[16px] mx-7">1</span>+
                        </button> -->
                        <button class="me-2 w-40 cursor-pointer border border-[#A2AF9B] rounded-lg px-[14px] py-[2px]
                          flex items-center justify-between text-xl text-[#aaa095]">
                            <!-- MINUS SVG -->
                            <span class="w-8 h-8 flex items-center justify-center">
                                <svg viewBox="0 0 24 24" width="17" height="17" aria-hidden="true">
                                    <path d="M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </span>

                            <!-- NUMBER -->
                            <span class="text-gray-800 text-[16px]">1</span>

                            <!-- PLUS SVG -->
                            <span class="w-8 h-8 flex items-center justify-center">
                                <svg viewBox="0 0 24 24" width="17" height="17" aria-hidden="true">
                                    <path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </button>
                        <button
                            class="bg-[#A2AF9B] w-[68%]  py-[9.5px] text-[13px] rounded-[9px] text-white cursor-pointer">
                            {{productDetails.price}} EG . Add to cart
                        </button>
                    </div>

                </div>
                <div class="delivery-time mt-10">
                    <i class="fa-regular fa-truck text-[#aaa095] me-1"></i>
                    <span class="text-[12.5px] text-gray-800">
                        <span class="text-[#aaa095]">Estimated Delivery:</span>01 Aug 2025 - 03 Aug 2025
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>