<section class="footer bg-[#A2AF9B] py-20 ">
    <div class="container">
        <div class="cards flex flex-wrap">
            <div class="footer-card w-full sm:w-1/2">
                <h2 class="text-2xl font-bold text-[#FAF9EE]">Shoppvia</h2>
                <p class="my-4 text-sm text-gray-500">newsletter to stay up to date on features and releases.</p>
                <form action="">
                    <input type="email" placeholder="Enter your Email"
                        class="w-3/4 me-3 border rounded-md px-3 py-2 focus:grayscale-75">
                    <button type="button"
                        class="bg-[#DCCFC0] text-[#EEEEEE] cursor-pointer font-medium font-extrabold
                         rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Subscribe</button>
                </form>
                <p class="my-4 text-sm text-[#EEEEEE]">By subscribing you agree to with our privacy policy and provide consent to receive from our company.</p>
                <p class="my-4 text-sm text-[#EEEEEE]">Shopvia, All rights reserved.</p>
            </div>
            <div class="footer-card flex justify-evenly flex-wrap w-full sm:w-1/2">
                <div class="inner-card w-1/4">
                    <h3 class="text-sm font-bold text-[#EEEEEE] mb-3">About US</h3>
                    <ul>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Contact</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Returns</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Blog</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Shipping</a>
                        </li>
                    </ul>

                </div>
                <div class="inner-card w-1/4">
                    <h3 class="text-sm font-bold text-[#EEEEEE] mb-3">Customer Support</h3>
                    <ul>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Affiliates</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Apple Pay Payments</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Returns</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Returns Policy</a>
                        </li>
                        <li class="my-2 text-sm text-[#EEEEEE]">
                            <a href="#">Returns</a>
                        </li>

                    </ul>

                </div>
                <div class="inner-card w-1/4">
                    <h3 class="text-sm font-bold text-[#EEEEEE] mb-3">Follow Us</h3>
                    <ul>
                        <li class="my-3 text-sm text-[#EEEEEE]">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="my-3 text-sm text-[#EEEEEE]">
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li class="my-3 text-sm text-[#EEEEEE]">
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                                Twitter
                            </a>
                        </li>
                        <li class="my-3 text-sm text-[#EEEEEE]">
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                                Linkedin
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>