@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Arima", system-ui;
}

@utility container {
    width: 90%;
    margin: auto;
}

section {
    @apply py-20;
}

.card {
    @apply rounded p-2 font-semibold text-gray-800 shadow-lg cursor-pointer;
}

.caption {
    @apply mb-20 text-center;
}

.head {
    @apply font-semibold text-3xl mb-2 text-[#A2AF9B];
}


.card-bg {
    background-color: #EEEEEE;
}
.bottom-style{
    @apply bg-[#A2AF9B] cursor-pointer text-[#FAF9EE] w-[25px] h-[25px] rounded-full flex items-center justify-center hover:bg-[#DCCFC0] hover:text-[#A2AF9B] disabled:bg-[#C5B0CD]
}
.caption h4 {
    font-family: "Playwrite HU", cursive;
}
/*Start best selling section*/
.goup-btn{
    @apply rounded-s-full px-4 py-2 text-sm font-medium cursor-pointer text-[#FAF9EE] /*focus:z-10  focus:bg-[#FAF9EE] focus:text-[#A2AF9B] focus:rounded-full*/;
}
.active-btn {
  @apply bg-white text-[#A2AF9B] rounded-full px-4 py-1 shadow-md;
}
/*End best selling section*/
/* Start New collection section */
.layer{
    @apply  bg-black/20 absolute top-0 bottom-0 left-0 right-0 rounded-2xl;
}
.layer-text{
    @apply font-bold text-white text-xl md:text-2xl lg:text-3xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* End New collection section */

/* Stert details section */
.img-style{
    @apply border border-2 border-solid border-[#A2AF9B] rounded-xl 
}

/* For Swipper */
.custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  color: #A2AF9B;
  cursor: pointer;
}

.custom-nav:hover {
  border-color: #DCCFC0;
  color: #DCCFC0;
}

/* positions */
.prev-btn {
  left: 30px;
}

.next-btn {
  right: 30px;
}
/* End details section */

